.places__image {
  max-width: 460px;
  align-self: flex-start;
  justify-self: stretch;
}

@media all and (max-width: 1024px) {
  .places__image {
    max-width: 435px;
  }
}

@media all and (max-width: 990px) {
  .places__image {
    max-width: 400px;
  }
}

@media all and (max-width: 910px) {
  .places__image {
    max-width: 340px;
  }
}

@media all and (max-width: 810px) {
  .places__image {
    max-width: 340px;
  }
}

@media all and (max-width: 370px) {
  .places__image {
    max-width: 320px;
  }
}
