.places__place-title {
  margin: 0;
  font-style: normal;
  max-width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media all and (max-width: 1280px) {
  .places__place-title {
    max-width: 440px;
  }
}

@media all and (max-width: 900px) {
  .places__place-title {
    max-width: 400px;
    font-size: 52px;
    line-height: 56px;
  }
}

@media all and (max-width: 768px) {
  .places__place-title {
    max-width: 340px;
    font-size: 44px;
    line-height: 46px;
  }
}

@media all and (max-width: 410px) {
  .places__place-title {
    font-size: 38px;
    max-width: 320px;

  }
}

@media all and (max-width: 330px) {
  .places__place-title {
    margin-left: 16px;
    margin-right: 16px;
    max-width: 100%;
    font-size: 32px;
    line-height: 35px;
  }
}
