.cover__subtitle {
  position: absolute;
  margin-top: 429px;
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

@media all and (max-width: 1024px) {
  .cover__subtitle {
    margin-top: 379px;
  }
}

@media all and (max-width: 830px) {
  .cover__subtitle {
    margin-top: 299px;
  }
}

@media all and (max-width: 750px) {
  .cover__subtitle {
    margin-top: 284px;
  }
}

@media all and (max-width: 650px) {
  .cover__subtitle {
    margin-top: 260px;
  }
}

@media all and (max-width: 550px) {
  .cover__subtitle {
    margin-top: 210px;
  }
}

@media all and (max-width: 450px) {
  .cover__subtitle {
    margin-top: 180px;
  }
}

@media all and (max-width: 350px) {
  .cover__subtitle {
    margin-top: 119px;
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}
