.place-website {
  max-width: 484px;
  max-height: 46px;
  margin-left: 0;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: max-content max-content;
  gap: 12px;
  align-self: flex-end;
}

@media all and (max-width: 768px) {
  .place-website {
    max-width: 352px;
  }
}

@media all and (max-width: 400px) {
  .place-website {
    max-width: 320px;
  }
}

@media all and (max-width: 330px) {
  .place-website {
    max-width: 288px;
  }
}