.header {
  margin: 27px 48px 0 48px;
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

@media all and (max-width: 1024px) {
  .header {
    margin-top: 30px;
    max-width: 928px;
  }
}

@media all and (max-width: 768px) {
  .header {
    margin-left: 24px;
    margin-right: 24px;
    max-width: 720px;
  }
}

@media all and (max-width: 320px) {
  .header {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    max-width: 288px;
  }
}
