.lead__title {
    /*display: flex;
    flex-wrap: wrap;*/
    /*object-fit: fill;*/
    width: 70%;
    margin-top: 56px;
    margin-bottom: 0;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #ffffff;
    text-align: center;
}

@media all and (max-width: 1024px) {
    .lead__title {
        margin-top: 48px;
        width: 70%;
    }    
}

@media all and (max-width: 768px) {
    .lead__title {
        margin-top: 48px;
        width: 94%;
    }    
}

@media all and (max-width: 320px) {
    .lead__title {
        margin-top: 48px;
        width: 90%;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
    }    
}