.lead__title {
    max-width: 720px;
    margin: 56px auto 0 auto;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #ffffff;
    text-align: center;
}

@media all and (max-width: 1280px) {
    .lead__title {
        margin-top: 48px;
    }    
}

@media all and (max-width: 680px) {
    .lead__title {
        font-size: 86px;
    }    
}

@media all and (max-width: 620px) {
    .lead__title {
        font-size: 76px;
    }    
}

@media all and (max-width: 550px) {
    .lead__title {
        font-size: 66px;
        max-width: 500px;
    }    
}

@media all and (max-width: 490px) {
    .lead__title {
        font-size: 60px;
    }    
}

@media all and (max-width: 425px) {
    .lead__title {
        font-size: 50px;
        max-width: 390px;
    }    
}

@media all and (max-width: 350px) {
    .lead__title {
        font-size: 43px;
        max-width: 295px;
    }    
}

@media all and (max-width: 320px) {
    .lead__title {
        margin-top: 48px;
        max-width: 288px;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
    }    
}