.place-website__url-heading {
  margin: 0;
  max-width: 100%;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
  text-transform: uppercase;
}

@media all and (max-width: 1024px) {
  .place-website__url-heading {
    line-height: 12px;
  }
}

@media all and (max-width: 330px) {
  .place-website__url-heading {
    margin-left: 16px;
    margin-right: 16px;
  }
}