.lead__subtitle {
    margin: 32px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 50%;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;
}

@media all and (max-width: 1280px) {
    .lead__subtitle {
        width: 50%;
    }    
}

@media all and (max-width: 1024px) {
    .lead__subtitle {
        width: 62.5%;
    }    
}

@media all and (max-width: 768px) {
    .lead__subtitle {
        width: 83.3%;
    }    
}

@media all and (max-width: 320px) {
    .lead__subtitle {
        margin-top: 16px;
        width: 90%;
        font-size: 16px;
        line-height: 20px;
    }    
}