.cover {
  position: relative;
  margin: 0 48px 0 48px;
  max-width: 1184px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}


@media all and (max-width: 1024px) {
  .cover {
    max-height: 640px;
    max-width: 100%;
  }
}

@media all and (max-width: 768px) {
  .cover {
    max-height: 480px;
  }
}

@media all and (max-width: 370px) {
  .cover {
    max-height: 200px;
  }
}
