.cover {
    position: relative;
    margin: 0 auto;
    padding-top: 245px;
    padding-bottom: 245px;
    max-width: 1184px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url(../../images/cover-trains.jpg);
    object-fit: cover;
    z-index: 1;
}


@media all and (max-width: 1024px) {
    .cover{
        max-height: 640px;
        max-width: 100%;
        padding-top: 195px;
        padding-bottom: 195px;
    }
}

@media all and (max-width: 768px) {
    .cover {
        max-height: 480px;
        padding-top: 115px;
        padding-bottom: 115px;
    }    
}

@media all and (max-width: 320px) {
    .cover {
        max-width: 100%;
        max-height: 200px;
        padding-top: 33px;
        padding-bottom: 33px;
    }
}