.cover__image {
    box-sizing: content-box;
    max-width: 100%;
    background: #2A2C2F;
    opacity: 0.8;
    object-position: 50% 50%;
}

@media screen and (min-width: 768px) {
    .cover__image:hover {
        opacity: 0.3;
    }    
}