.places__place-image {
  max-width: 460px;
  align-self: flex-start;
  justify-self: stretch;
}

@media all and (max-width: 1024px) {
  .places__place-image {
    max-width: 440px;
  }
}

@media all and (max-width: 990px) {
  .places__place-image {
    max-width: 400px;
  }
}

@media all and (max-width: 910px) {
  .places__place-image {
    max-width: 340px;
  }
}

@media all and (max-width: 810px) {
  .places__place-image {
    max-width: 330px;
  }
}

@media all and (max-width: 350px) {
  .places__place-image {
    max-width: 320px;
  }
}
