.places__place-image {
  max-width: 460px;
}

@media all and (max-width: 1024px) {
  .places__place-image {
    max-width: 440px;
  }
}

@media all and (max-width: 960px) {
  .places__place-image {
    max-width: 400px;
  }
}

@media all and (max-width: 880px) {
  .places__place-image {
    max-width: 360px;
  }
}

@media all and (max-width: 800px) {
  .places__place-image {
    max-width: 340px;
  }
}

@media all and (max-width: 320px) {
  .places__place-image {
    max-width: 100%;
  }
}
