.places__place {
  margin: 0 0 80px 0;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 49px 33px;
  align-items: flex-start;
}

.places__place:last-of-type {
  margin-bottom: 0;
}

@media all and (max-width: 1230px) {
  .places__place {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media all and (max-width: 1140px) {
  .places__place {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

@media all and (max-width: 1035px) {
  .places__place {
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    margin-bottom: 86px;
    gap: 47px 20px;
  }
}

@media all and (max-width: 840px) {
  .places__place {
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    gap: 48px 28px;
    margin-bottom: 43px;
  }
}

@media all and (max-width: 768px) {
  .places__place {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin-bottom: 73px;
  }
}


@media all and (max-width: 340px) {
  .places__place {
    grid-template-columns: 100%;
    margin-bottom: 50px;
    gap: 32px;
  }
}