.lead__caption {
    width: 158px;
    margin: 8px auto 0 0;
    color: #ffffff;
    border-color: black;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
}

@media all and (max-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }    
}

@media all and (max-width: 320px) {
    .lead__caption {
        margin-left: 16px;
    }    
}