.cover__title {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #ffffff;
}


@media all and (max-width: 350px) {
    .cover__title {
        max-width: 295px;
        font-size: 34px;
    }    
}

@media all and (max-width: 320px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }    
}