.cover__title {
    position: absolute;
    margin-top: 245px;
    margin-bottom: 0;
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #ffffff;
}

@media all and (max-width: 1024px) {
    .cover__title {
        margin-top: 195px;
    }    
}

@media all and (max-width: 768px) {
    .cover__title {
        margin-top: 115px;
    }    
}

@media all and (max-width: 750px) {
    .cover__title {
        margin-top: 110px;
    }    
}

@media all and (max-width: 700px) {
    .cover__title {
        margin-top: 100px;
    }    
}

@media all and (max-width: 650px) {
    .cover__title {
        margin-top: 90px;
    }    
}

@media all and (max-width: 600px) {
    .cover__title {
        margin-top: 80px;
    }    
}

@media all and (max-width: 550px) {
    .cover__title {
        margin-top: 70px;
        font-size: 50px;
    }    
}

@media all and (max-width: 500px) {
    .cover__title {
        margin-top: 60px;
        font-size: 45px;
    }    
}

@media all and (max-width: 450px) {
    .cover__title {
        margin-top: 50px;
        font-size: 42px;
    }    
}

@media all and (max-width: 400px) {
    .cover__title {
        margin-top: 40px;
        font-size: 40px;
    }    
}


@media all and (max-width: 350px) {
    .cover__title {
        margin-top: 35px;
        max-width: 295px;
        font-size: 32px;
        line-height: 35px;
    }    
}

@media all and (max-width: 320px) {
    .cover__title {
        margin-top: 33px;
        max-width: 288px;
    }    
}